extends layout.pug

block content
  section#content
    .row
      div(class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3")
        a(href=`${id}?side=${sideToShow}` class="no-underline black")
          .card
            .card-block
              h2= text
              if hint
                p.text-muted
                  i Hint: #{hint}
    .space
    p.text-muted
      small Click the card to flip!

    if (prev)
      a(href=prev, class="mr-right-5")
        button(class="btn btn-outline-primary") Previous
    a(href="/cards", class="mr-right-5")
      button(class="btn btn-outline-primary") Random
    if (next)
      a(href=next)
        button(class="btn btn-outline-primary") Next
